# This is an example of the config file, that overrides default values
# for the main script.
#
# Copy it as `TRMNL_config.sh` and edit with desired values

# API key of your device
# API_KEY="YOUR_UNIQUE_API_KEY"

# BASE URL of the TRMNL server
# BASE_URL="https://trmnl.app"

# Size of the PNG in *pixels*
# PNG_WIDTH=$(get_kindle_height)
# PNG_HEIGHT=$(get_kindle_width)

# Minimal time to sleep for between refreshes. Takes priority over the server
# provided refresh rate.
# MIN_REFRESH_RATE=300

# Get the MAC address for validation
# MAC_ADDRESS=$(get_mac_address)

# IP or domain used to test if network is up (without the protocol, port or
# path)
# WIFI_TEST_ADDRESS=$(echo "$BASE_URL" | cut -d/ -f3 | cut -d: -f1)

# How wifi power state should be managed:
# * ${WIFI_ALWAYS_ON} - keep wifi on
# * ${WIFI_DISABLED_DURING_SLEEP} - disable wifi before going to sleep
# * ${WIFI_AUTO} - keep wifi state during sleep as it was before script 
#   execution
# WIFI_MANAGEMENT=${WIFI_DISABLED_DURING_SLEEP}

# Set to true to enable debug messages, false to disable
# DEBUG_MODE=true
